[Desktop Entry]
Version=1.0
Type=Link
Name=Sublime Text
URL=/home/kejia2c/Sublime/sublime_text
Icon=/home/kejia2c/Sublime/Icon/256x256/sublime_text.png

